[submodule "hardware/libraries/vendor/wt32-eth01"]
	path = hardware/libraries/vendor/wt32-eth01
	url = https://github.com/egnor/wt32-eth01
[submodule "site/themes/hudocs"]
	path = site/themes/hudocs
	url = https://github.com/zkreations/hudocs
